/Tracker.AuthenticationService.Application/obj
/Tracker.AuthenticationService.Application/bin
/Tracker.AuthenticationService/obj
/Tracker.AuthenticationService/bin
/Tracker.AuthenticationService.Dto/bin
/Tracker.AuthenticationService.Dto/obj
/Tracker.AuthenticationService.Auth0/bin
/Tracker.AuthenticationService.Auth0/obj
/Tracker.AuthenticationService.Data/bin
/Tracker.AuthenticationService.Data/obj

